* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #acbaca;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 2px #000000;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    background-color: #152b4a;
    font-size: 100px;
    font-weight: 600;
    cursor: pointer;
}

.box {
    color: transparent;
    -webkit-text-stroke: 5px;
}

#reset-btn {
    padding: 1rem;
    font-size: 40px;
    background-color: #152b4a;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#reset-btn:active {
    transform: scale(.95) translateY(5px);
    filter: brightness(.9);
}

#msg {
    font-size: 50px;
    color: #ffffff;
    border: 2px solid black;
    background-color: #152b4a;
    border-radius: 10px;
}

.msg-container {
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}